<section class="deluxe">
    <div class="container">
        <div class="deluxe__body">
            <div class="deluxe__body-project">
                <h1 class="deluxe__body-project-title">
                    СПисок проектов
                </h1>
                <div class="deluxe__body-project-block">
                    <a href="item.html" class="deluxe__body-project-block-item">
                        <div class="deluxe__body-project-block-item-top">
                            <img src="../images/dist/del/1.png" alt="">
                            <span>
                                Элитный квартал <br>«Тишинский бульвар»
                            </span>
                        </div>
                        <span class="deluxe__body-project-block-item-name">
                            Пресненский район
                        </span>
                        <p>от 54,7 млн руб</p>
                    </a>
                    <a href="item.html" class="deluxe__body-project-block-item">
                        <div class="deluxe__body-project-block-item-top">
                            <img src="../images/dist/del/2.png" alt="">
                            <span>хамовники 12</span>
                        </div>
                        <span class="deluxe__body-project-block-item-name">
                            Хамовники
                        </span>
                        <p>от 311,6 млн руб</p>
                    </a>
                    <a href="item.html" class="deluxe__body-project-block-item">
                        <div class="deluxe__body-project-block-item-top">
                            <img src="../images/dist/del/3.png" alt="">
                            <span>
                                клубный Дом <br>«Обыденский №1»
                            </span>
                        </div>
                        <span class="deluxe__body-project-block-item-name">
                            Остоженка
                        </span>
                        <p>от 579 млн руб</p>
                    </a>
                    <a href="item.html" class="deluxe__body-project-block-item">
                        <div class="deluxe__body-project-block-item-top">
                            <img src="../images/dist/del/4.png" alt="">
                            <span>клубный дом <br>«чистые пруды»</span>
                        </div>
                        <span class="deluxe__body-project-block-item-name">
                            Басманный район
                        </span>
                        <p>от 579 млн руб</p>
                    </a>
                    <a href="item.html" class="deluxe__body-project-block-item">
                        <div class="deluxe__body-project-block-item-top">
                            <img src="../images/dist/del/5.png" alt="">
                            <span>Дом <br>«Лаврушинский»</span>
                        </div>
                        <span class="deluxe__body-project-block-item-name">
                            Якиманка
                        </span>
                        <p>от 168,3 млн руб</p>
                    </a>
                    <a href="item.html" class="deluxe__body-project-block-item">
                        <div class="deluxe__body-project-block-item-top">
                            <img src="../images/dist/del/6.png" alt="">
                            <span>Камергер</span>
                        </div>
                        <span class="deluxe__body-project-block-item-name">
                            Тверской район
                        </span>
                        <p>от 354,1 млн руб</p>
                    </a>
                    <a href="item.html" class="deluxe__body-project-block-item">
                        <div class="deluxe__body-project-block-item-top">
                            <img src="../images/dist/del/7.png" alt="">
                            <span>Quartier d’or</span>
                        </div>
                        <span class="deluxe__body-project-block-item-name">
                            Замоскваречье
                        </span>
                        <p>от 353,5 млн руб</p>
                    </a>
                </div>
            </div>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A78169e30d44c1b6af3ba15e433a45f22a6f33630fa63b6f0bd52331f7c1a21fa&amp;source=constructor" frameborder="0"></iframe>
        </div>
    </div>
</section>
<section class="form">
    <div class="container">
        <div class="form__body">
            <div class="form__body-main">
                <h3 class="form__body-main-title">
                    Не нашли подходящий вариант?
                </h3>
                <p class="form__body-main-desc">
                    Оставьте заявку — с вами свяжется специалист <br>Ricci | Жилая недвижимость <br>и подберет идеальный вариант
                </p>
                <form action="" class="form__body-main-form">
                    <input placeholder="Имя" type="text">
                    <input placeholder="Номер телефона" type="tel">
                    <input placeholder="E-mail" type="email">
                    <textarea name="" id="">Опишите ваш запрос</textarea>
                    <button>
                        Получить консультацию
                    </button>
                    <p>Оставляя заявку, вы соглашаетесь с условиями обработки <br> данных и <a href="">политикой
                            конфиденциальности</a></p>
                </form>
            </div>
            <img class="form__body-people" src="../images/dist/form.png" alt="">
            <div class="form__body-text">
                <img src="../images/dist/line.png" alt="">
                Виктория Зантман <br><br>Брокер элитной <br>недвижимости
            </div>
        </div>
    </div>
</section>