<section class="item">
    <div class="container">
        <div class="item__body">
            <div class="item__body-top">
                <div class="item__body-top-text">
                    <h1 class="item__body-top-text-title">
                        Элитный квартал <br>
                        «Тишинский бульвар»
                    </h1>
                    <p>Пресненский район <br>
                        Электрический переулок, вл. 1</p>
                    <button class="rb">записаться на просмотр</button>
                </div>
                <div class="splide item__body-top-splide" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img src="../images/dist/item/1.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/item/2.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/item/3.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/item/4.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/item/5.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="rb mob mobile__button full">
                записаться на просмотр
            </button>
            <div class="item__body-attr">
                <div class="item__body-attr-element">
                    <span>150 м</span>
                    <p>до ГБОУ Романовская школа <br>и частного детского сада</p>
                </div>
                <div class="item__body-attr-element">
                    <span>900 м</span>
                    <p>до Центра <br>«Зотов»</p>
                </div>
                <div class="item__body-attr-element">
                    <span>1,4 км</span>
                    <p>до Московского <br>зоопарка</p>
                </div>
                <div class="item__body-attr-element">
                    <span>1,5 км</span>
                    <p>до Патриарших <br>прудов</p>
                </div>
                <div class="item__body-attr-element">
                    <span>2 км</span>
                    <p>до Московского <br>планетария</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="place mob">
    <div class="container">
        <div class="place__body">
            <iframe class="desk" src="https://yandex.ru/map-widget/v1/?um=constructor%3A0c2c1e1b34c679a301c0ef060e55dee8a72ee99d5e5d91f5e2a39f30fbc5b4d7&amp;source=constructor"  frameborder="0"></iframe>
            <div class="place__body-block">
                <div class="place__body-block-item">
                    <img src="../images/dist/icon/1.png" alt="">
                    <span>от 916 тыс руб/м²</span>
                </div>
                <div class="place__body-block-item">
                    <img src="../images/dist/icon/2.png" alt="">
                    <span>от 50,2 м²</span>
                </div>
                <div class="place__body-block-item">
                    <img src="../images/dist/icon/3.png" alt="">
                    <span>подземный паркинг</span>
                </div>
                <button class="rb">
                    получить презентацию
                </button>
            </div>
        </div>
    </div>
</section>
<section class="desc">
    <div class="container">
        <div class="desc__body">
            <img src="../images/dist/item.png" alt="" class="desc__body-img">
            <ul class="desc__body-list">
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 4.5L16.5 12L9 19.5" stroke="#4D4E6E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>«Тишинский бульвар» — тихий зелёный элитный квартал на Тишинке. Свой прогулочный бульвар в огромном дворе-парке 2,1 га. Насыщенная инфраструктура с Clubhouse только для жителей. Каждый дом с индивидуальной архитектурой.</span>                        
                </li>
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 4.5L16.5 12L9 19.5" stroke="#4D4E6E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Квартал находится на исторической Тишинке — в престижном и комфортном районе центра Москвы.  Вокруг тихие старомосковские переулки с их уникальным архитектурным наследием.  Рядом расположены городские точки притяжения и гастрономические локации.</span>                        
                </li>
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 4.5L16.5 12L9 19.5" stroke="#4D4E6E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Всего в 1,5 километрах от квартала находятся Патриаршие пруды — излюбленное место для летних прогулок, воскресных бранчей и романтических ужинов. Белая площадь расположена ещё ближе — на расстоянии 1,2 километра. Это точка концентрации деловой жизни и модных ресторанов. В пешей доступности Римско-католический кафедральный собор.</span>                        
                </li>
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 4.5L16.5 12L9 19.5" stroke="#4D4E6E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Clubhouse включает инфраструктуру Friend’s Lab, Kid’s Lab и Fit Lab по стандартам Sminex. В нём представлен соседский центр с террасой по стандарту Friend’s Lab для встреч и совместного отдыха жителей, оборудован просторный детский игровой клуб по стандарту KID’S LAB, предусмотрен бесплатный фитнес-клуб с комфортным 25-метровым бассейном, отдельным бассейном для детей, хот-табом, сауной и хаммамом по стандарту Fit Lab. </span>                        
                </li>
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 4.5L16.5 12L9 19.5" stroke="#4D4E6E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Большое разнообразие функциональных планировок, продуманных до мельчайших деталей - квартиры с увеличенной  до 7,65 метра высотой потолков, пентхаусов с террасами, дровяными каминами и потолками высотой до 8,25 м.  Есть варианты со вторым светом и возможностью увеличить площадь за счёт обустройства второго этажа.</span>                        
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="place">
    <div class="container">
        <div class="place__body">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0c2c1e1b34c679a301c0ef060e55dee8a72ee99d5e5d91f5e2a39f30fbc5b4d7&amp;source=constructor"  frameborder="0"></iframe>
            <div class="place__body-block desk">
                <div class="place__body-block-item">
                    <img src="../images/dist/icon/1.png" alt="">
                    <span>от 916 тыс руб/м²</span>
                </div>
                <div class="place__body-block-item">
                    <img src="../images/dist/icon/2.png" alt="">
                    <span>от 50,2 м²</span>
                </div>
                <div class="place__body-block-item">
                    <img src="../images/dist/icon/3.png" alt="">
                    <span>подземный паркинг</span>
                </div>
                <button class="rb">
                    получить презентацию
                </button>
            </div>
            <button class="rb mob mobile__button full">
                получить презентацию
            </button>
        </div>
    </div>
</section>